body {
    margin: 0;
    text-align: center;
    background-color: blueviolet;
    border-radius: 20px;
    
    
}

.container {
    display: flex;
    justify-content: space-around;
}
h3{
    color: white;
    font-family: Verdana;
    font-style: Bold;
    font-size: 30px;
}
.score {
    font-family: Cursed Timer ULiL;
    font-style: Regular;
    font-size: 90px;
    color: #F94F6D;
    background-color: black;
    width: 120px;
    margin: 20px;
    text-align: center;
    border-radius: 10px;
}
.btn {
    font-family: Cursed Timer ULiL;
}